<?xml version="1.0" encoding="UTF-8"?>
<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body>
<GerarNfseEnvio xmlns="http://homologacao.notacarioca.rio.gov.br/WSNacional/XSD/1/nfse_pcrj_v01.xsd">
 {{{render_rps}}}
</GerarNfseEnvio>
</soap:Body></soap:Envelope>